extends layout

block content
  h1= title
  p Welcome to #{title}
  from(action="/", method="POST")
    input(name="lead_email", type="email", placeholder="Enter your email address")
    button(type="submit") Submit
